# **Introduction to Python**
## What's Python?

Programming language. It is mainly used for:


* Web development (server-side)
* Software development
* Artificial Intelligence
* Embedded systems - Automation
* Among others...  

## Why Python?

* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc.).
* Python has a simple syntax similar to the English language.
* Python has a syntax that allows developers to write programs with fewer lines than other programming languages.
* Python runs on an interpreter system, which means that code can be executed as soon as it is written. This means that prototyping can be very fast.
* Python can be treated as procedural, object-oriented or functional.

## Variables

Variables are containers used to store data and/or values.

There is no command to create a variable. A variable is created the moment it is assigned a value for the first time.

Example:

In [1]:
x = 100
name = "Michael"

A variable can have a short name (e.g. x, y, z) or a more descriptive name (e.g. age, address).

There are rules for python variables:
* A variable name must start with a letter or underscore.
* A variable name cannot start with a number.
A variable name can only contain alphanumeric characters and underscores (Az, 0-9, and _) * Variable names distinguish between alphanumeric characters and underscores.
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords (we will see them later).

Example:

In [ ]:
myvar = "Matias"
my_var = "Matias"
_my_var = "Matias"
myVar = "Matias"
MYVAR = "Matias"
myvar2 = "Matias"

In [ ]:
# invalid variable names
my$var = "Batman" #contains special characters !,@,#,$
2myvar = "Batman" #begins with a number
my var = "Batman" #contains white spaces

SyntaxError: invalid decimal literal (3422218829.py, line 3)

## Variable names with several words

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

In [3]:
# Camel Case
# Every word starts with a capital letter except the first one
myVariableName = "Lint"

# Pascal Case
# Each word begins with a capital letter
myVariableName = "Luna"

# Snake Case
# Each word is separated by an underscore
my_variable_name = "Jupiter"

### Assigning multiple values

Python allows you to assign values to multiple variables in one line.

In [1]:
x, y, z = 1995, -5, 8.6
print(x)
print(y)
print(z)

1995
-5
8.6

In [2]:
x = y = z = 1995
print(x)
print(y)
print(z)

1995
1995
1995

## Python Data Types
Variables can store data of different types, and different types can do different things.

Python has the following data types built in by default, in these categories:
* Text Type: str
* Numeric Types: int, float, complex
* Sequence Types: list, tuple, range
* Mapping Type: dict
* Set Types: set, frozenset
* Boolean Type: bool
* Binary Types: bytes, bytearray, memoryview
* None Type: NoneType

We can know the type of data we are working with using the ***type()*** function:

In [3]:
x = 30 # integer
y = 3.5 # float
z = 3+4j # complex
name = "Anibal" # string
city = ["BogotÃ¡", "Cartagena", "Barranquilla", "Medellin"] # list
car = {"brand" : "Chevrolet", "model" : "Tracker", "color" : "Negro", "year": 2023} # dict
print(type(x))
print(type(y))
print(type(z))
print(type(name))
print(type(city))
print(type(car))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>

## Type conversion (Numbers)
You can convert from one type to another with the int(), float()and :complex() methods.


Examples:

In [4]:
x = 1    # integer
y = 2.8  # float
z = 1j   # complex

#from integer to float:
a = float(x) # ----> a=1.0

#from floar to integer:
b = int(y) # ----> b=2

#from integer to complex:
c = complex(x) # ----> c=1+0j

print("a:",a,"---->",type(a))
print("b:",b,"---->",type(b))
print("c:",c,"---->",type(c))

a: 1.0 ----> <class 'float'>
b: 2 ----> <class 'int'>
c: (1+0j) ----> <class 'complex'>

## Data type conversion
conversion in python is done by constructor functions:

  * int() : constructs an integer from an integer literal, a float literal (removing all decimals) or a string literal (as long as the string represents an integer).
  * float() : constructs a float number from an integer literal, a float literal or a string literal (provided that the string represents a float or an integer)
  * str() : constructs a string from a wide variety of data types, including strings, integer literals, and float literals.

  Example:

In [5]:
# Conversion to integers
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x, type(x))
print(y, type(y))
print(z, type(z))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>

In [7]:
# Conversion to float
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x, type(x))
print(y, type(y))
print(z, type(z))

1.0 <class 'float'>
2.8 <class 'float'>
3.0 <class 'float'>

In [8]:
#Conversion to o strings
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x, type(x))
print(y, type(y))
print(z, type(z))

s1 <class 'str'>
2 <class 'str'>
3.0 <class 'str'>

# Strings
Strings represent a set of characters and in Python are enclosed in single or double quotes.
Example:
'hello' is the same as âhelloâ.

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

Example:

In [9]:
greeting = "Hola mundo"
print(greeting,type(greeting))

Hola mundo <class 'str'>

## Slicing Strings
Strings can be sliced, that is, a part of a string can be extracted if desired. To extract a part of a string you need to specify the start index and the end index, separated by a colon. *(this extraction includes the value of the initial index, but not the final index)*.

Example:

In [ ]:
# word = P y t h o n
# index  = 0 1 2 3 4 5
# initial_index = 0 --> P
# final_index = 4 --> o but since it does not include it, the previous index is taken, 3 --> h
word = "Python"
word[0:4]

'Pyth'

In [ ]:
# estacion = p r i m a v e r a
# indice   = 0 1 2 3 4 5 6 7 8
# indice inicial = 3 --> m
# indice final = 7 --> r pero como no lo incluye, se toma el indice anterior, es decir el 6 --> e
estacion = "primavera"
estacion[3:7]

'mave'

In [1]:
# By omitting the start index, the range will start at the first character:
country = "Colombia"
country[:5]

'Colom'

In [2]:
# By omitting the final index, the range will go to the end:
country = "Colombia"
country[3:]

'ombia'

In [3]:
# Use negative indices to start the segment from the end of the string:
# country            =  C  o  l  o  m  b  i  a
# negative_index = -8 -7 -6 -5 -4 -3 -2 -1
country = "Colombia"
country[-4]

'm'

In [4]:
# Strings are not editable
word="bananas"
word[0]="B"

TypeError: 'str' object does not support item assignment

## String concatenation
To concatenate or combine two strings, you can use the + operator.

Example:

In [ ]:
name = "Luisa"
lastname = "Vargas"

print(name+lastname)
print(name+" "+lastname) #Adding a space between

LuisaVargas
Luisa Vargas

Podemos combinar numeros y cadenas usando el mÃ©todo format().

El mÃ©todo format() toma los argumentos que esten dentro del parentesis, y los coloca en la cadena donde estÃ¡n los marcadores de posiciÃ³n {}.

Ejemplo:

In [ ]:
nota_final = 3.6
texto = "Samuel obtuvo una calificacion de {} en su examen de inglÃ©s"
print(texto.format(nota_final))

Samuel obtuvo una calificacion de 3.6 en su examen de inglÃ©s

In [ ]:
altura = 1.72
edad = 21
texto = "Fernanda tiene {} aÃ±os y mide {} metros"
print(texto.format(edad, altura))

Fernanda tiene 21 aÃ±os y mide 1.72 metros

In [ ]:
frutas=["manzana","pera", "naranja"]
frutas[0]="melon"
print(frutas)
frutas.append(12)
print(frutas)

['melon', 'pera', 'naranja']
['melon', 'pera', 'naranja', 12]

## Funcion Input
Permite al usuario ingresar datos desde consola. Ej

In [2]:
#ingresar un numero
numero = int(input("Ingresar un numero "))
print("el numero ingresdo es: ", numero)

Ingresar un numero 43
el numero ingresdo es:  43

In [4]:
#ingresar un  mensaje
mensaje = input("Ingresar un mensaje ")
print("el mensaje ingresdo es: ", mensaje)

Ingresar un mensaje hola mundo
el mensaje ingresdo es:  hola mundo